---
page_title: "{{.Name}} {{.Type}}"
description: |-
  {{.Description}}
---

# {{.Name}} ({{.Type}})

{{.Description}}

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}
{{- end }}

## See Also

- [appwrite_tablesdb](tablesdb.md) - Manage databases
- [appwrite_tablesdb_table](tablesdb_table.md) - Manage tables within a database
- [appwrite_tablesdb_index](tablesdb_index.md) - Manage indexes within a table
