---
page_title: "{{.Type}}: {{.Name}}"
subcategory: "VectorsDB"
description: |-
  {{.Description}}
---

# {{.Type}}: {{.Name}}

{{.Description}}

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}
{{- end }}

## See Also

- [appwrite_vectorsdb_collection](vectorsdb_collection.md) - Manage collections in this database
- [appwrite_tablesdb](tablesdb.md) - Use Appwrite's relational TablesDB instead
