---
page_title: "{{.Type}}: {{.Name}}"
subcategory: "DocumentsDB"
description: |-
  {{.Description}}
---

# {{.Type}}: {{.Name}}

{{.Description}}

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

## See Also

- [appwrite_documentsdb](../resources/documentsdb.md) - Provision a database on one of these specifications
