---
page_title: "{{.Type}}: {{.Name}}"
subcategory: "Dedicated Databases"
description: |-
  {{.Description}}
---

# {{.Type}}: {{.Name}}

{{.Description}}

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

## See Also

- [appwrite_mysql_database](../resources/mysql_database.md) - Provision a database on one of these specifications
